<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="competition_map">

  <link name="world"/>


  <!-- Base Link
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="Akro_mils"/>
  </joint>

  <link name="Akro_mils">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/Akro_mils.stl"/>
        </geometry>
        <material
          name="">
          <color
            rgba="1 0.41 0.41 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/Akro_mils.stl" />
        </geometry>
      </collision>

    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
	  ixx="1.0" ixy="0.0" ixz="0.0"
	  iyy="1.0" iyz="0.0"
	  izz="1.0"/>
    </inertial>
  </link> -->

  <!-- Akro_Mils_37278   -->  
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Akro_mils.urdf.xacro" />
  <xacro:Akro_mils parent="world" handle="1" position="0 0 0" orientation="0 0 0"/>


  <!-- Plastic_Storage_Crate  --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Plastic_Storage_Crate.urdf.xacro" />
  <xacro:Plastic_Storage_Crate parent="world" handle="1" position="0 0.25 0" orientation="0 0 0"/>
 
  <!-- Plywood_16mm_sheet    --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Plywood_16mm_sheet.urdf.xacro" />

  <xacro:Plywood_16mm_sheet parent="world" handle="1" position="0 0.5 0" orientation="0 0 0"/>

  <!-- Plywood_3mm_sheet   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Plywood_3mm_sheet.urdf.xacro" />
  <xacro:Plywood_3mm_sheet parent="world" handle="1" position="0 1.5 0" orientation="0 0 0"/>


  <!-- seat_pad   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/seat_pad.urdf.xacro" />
  <xacro:seat_pad parent="world" handle="1" position="1.0 0 0" orientation="0 0 0"/>


    <!-- Nisopa_Kerb_Ramp   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Nisopa_Kerb_Ramp.urdf.xacro" />

  <xacro:Nisopa_Kerb_Ramp parent="world" handle="1" position="1.0 1.0 0" orientation="0 0 0"/>


    <!-- Plastic_Curb_Ramp    -->
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Plastic_Curb_Ramp.urdf.xacro" />

  <xacro:Plastic_Curb_Ramp parent="world" handle="1" position="2.0 1.0 0" orientation="0 0 0"/>


    <!-- 4_inch_solid_wood_block   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/solid_wood_block.urdf.xacro" />

  <xacro:solid_wood_block parent="world" handle="1" position="3.0 3.0 0" orientation="0 0 0"/>


    <!-- New_EURO_EPAL_Pallet   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/New_EURO_EPAL_Pallet.urdf.xacro" />
  <xacro:New_EURO_EPAL_Pallet parent="world" handle="1" position="4.0 3.0 0" orientation="0 0 0"/>


    <!-- Plywood_wall   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/Plywood_wall.urdf.xacro" />
  <xacro:Plywood_wall parent="world" handle="1" position="5.0 5.0 0" orientation="0 0 0"/>


    <!-- New_600x400_2way_Wooden_Pallet   --> 
  <xacro:include filename="$(find ICRA2023_Quadruped_Competition)/urdf/obstacles/New_600x400_2way_Wooden_Pallet.urdf.xacro" />
  <xacro:New_600x400_2way_Wooden_Pallet parent="world" handle="1" position="5.0 -5.0 0" orientation="0 0 0"/>


</robot>
