<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
  <xacro:macro name="terrain6_inner2" params="handle parent position orientation">

  <joint name="terrain6_inner2_${handle}_joint" type="fixed">
    <origin xyz="${position}" rpy="${orientation}"/>
    <parent link="${parent}"/>
    <child link="terrain6_inner2_${handle}"/>
  </joint>

    <link
      name="terrain6_inner2_${handle}">
      
      <inertial>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0"
      izz="1.0"/>
      </inertial>
      
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/compound/terrain6_inner2.stl"/>
        </geometry>
        <material
          name="">
          <color
            rgba="1.0 0.41 0.41 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/compound/terrain6_inner2.stl"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="terrain6_inner2_${handle}">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>
</robot>
