<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
  <xacro:macro name="New_600x400_2way_Wooden_Pallet" params="handle parent position orientation">

  <!-- visual mesh-->
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_joint" type="fixed">
    <origin xyz="${position}" rpy="${orientation}"/>
    <parent link="${parent}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}"/>
  </joint>

  <link
    name="New_600x400_2way_Wooden_Pallet_${handle}">     
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/New_600x400_2way_Wooden_Pallet.stl"/>
        </geometry>
        <material
          name="wood">
        </material>
      </visual>
    </link>

  <!-- collision links -->

  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_1" type="fixed">
    <origin xyz="+2.8100e-01 +0.0000e+00 -7.9997e-03" 
            rpy="0 0 1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_1"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_1">

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.520e+00"/>
          <inertia
        ixx="+1.417e-02"
        ixy="+1.103e-07"
        ixz="+0.000e+00"
        iyz="+1.103e-07" 
        iyy="+9.537e-04"     
        izz="+1.345e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="4.0000e-01 3.8000e-02 1.0000e-01" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>
  
  
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_2" type="fixed">
    <origin xyz="-2.8100e-01 +0.0000e+00 -7.9997e-03" 
            rpy="0 0 1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_2"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_2">

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.520e+00"/>
          <inertia
        ixx="+1.417e-02"
        ixy="+1.103e-07"
        ixz="+0.000e+00"
        iyz="+1.103e-07" 
        iyy="+9.537e-04"     
        izz="+1.345e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="4.0000e-01 3.8000e-02 1.0000e-01" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>
  
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_3" type="fixed">
    <origin xyz="+0.0000e+00 +1.6250e-01 +5.0000e-02" 
            rpy="0 1.5708 1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_3"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_3">
  
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="7.200e-01"/>
          <inertia
        ixx="+4.901e-04"
        ixy="0.0"
        ixz="+0.000e+00"
        iyz="+3.002e-02" 
        iyy="0.0"     
        izz="+3.047e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="1.6000e-02 6.0000e-01 7.5000e-02" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>

  
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_4" type="fixed">
    <origin xyz="+0.0000e+00 +5.4167e-02 +5.0000e-02" 
            rpy="0 1.5708 1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_4"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_4">
  
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="7.200e-01"/>
          <inertia
        ixx="+4.901e-04"
        ixy="0.0"
        ixz="+0.000e+00"
        iyz="+3.002e-02" 
        iyy="0.0"     
        izz="+3.047e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="1.6000e-02 6.0000e-01 7.5000e-02" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>

  
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_5" type="fixed">
    <origin xyz="+0.0000e+00 -5.4167e-02 +5.0000e-02" 
            rpy="0 1.5708 1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_5"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_5">
  
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="7.200e-01"/>
          <inertia
        ixx="+4.901e-04"
        ixy="0.0"
        ixz="+0.000e+00"
        iyz="+3.002e-02" 
        iyy="0.0"     
        izz="+3.047e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="1.6000e-02 6.0000e-01 7.5000e-02" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>

  
  <joint name="New_600x400_2way_Wooden_Pallet_${handle}_collision_joint_6" type="fixed">
    <origin xyz="+0.0000e+00 -1.6250e-01 +5.0000e-02" 
            rpy="0 1.5708  1.5708"/>
    <parent link="New_600x400_2way_Wooden_Pallet_${handle}"/>
    <child link="New_600x400_2way_Wooden_Pallet_${handle}_collision_6"/>
  </joint>
  <link
      name="New_600x400_2way_Wooden_Pallet_${handle}_collision_6">

       <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="7.200e-01"/>
          <inertia
        ixx="+4.901e-04"
        ixy="0.0"
        ixz="+0.000e+00"
        iyz="+3.002e-02" 
        iyy="0.0"     
        izz="+3.047e-02" />
      </inertial>

      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="1.6000e-02 6.0000e-01 7.5000e-02" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 0 0 1" />
        </material>
      </collision>
    </link>
  
    <gazebo reference="New_600x400_2way_Wooden_Pallet_${handle}">
      <material>Gazebo/Wood</material>
      <static>true</static>
    </gazebo>

  </xacro:macro>
</robot>
