<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
  <xacro:macro name="Plywood_wall" params="handle parent position orientation">

  <joint name="Plywood_wall_${handle}_joint" type="fixed">
    <origin xyz="${position}" rpy="${orientation}"/>
    <parent link="${parent}"/>
    <child link="Plywood_wall_${handle}"/>
  </joint>

    <link
      name="Plywood_wall_${handle}">
      
      <inertial>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0"
      izz="1.0"/>
      </inertial>
      
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://ICRA2023_Quadruped_Competition/meshes/Plywood_wall.stl"/>
        </geometry>
        <material
          name="wood">
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <box size="6.1000e-01 1.2000e-02 5.9500e-01" />
        </geometry>
      </collision>
    </link>
  
    <gazebo reference="Plywood_wall_${handle}">
      <material>Gazebo/Wood</material>
    </gazebo>
    
  </xacro:macro>
</robot>
